<div class="sidebar"></div>
<div class="game-board-container">
    <img class="game-board" src="game-board.svg" alt="game-board">
    <div class="peg-grid-container">
        @for (row of [].constructor(this.gameBoard.numRows); track $index) {
            <div class="row" [id]=$index>
            @for (hole of [].constructor($index+1); track $index) {
                <app-peg-hole 
                    [pegHole]="this.getNextHole()"
                    [gameComponent]="this">
                </app-peg-hole>
            }
            </div>
        }
    </div>
</div>
<div class="controls">
    <form name="game-settings">
        <label for="num-rows">Number of Rows (3-50): </label>
        <input [attr.disabled]="isDisabled" id="num-rows" type="number" value="5" min="3" max="50" (input)="updateNumRows($event)">
        
        <button [attr.disabled]="isDisabled" id="start-alg" type="button" (click)="runAlg()">Run Solver</button>
        <button id="reset" type="button" (click)="resetGame()">Reset</button>
        
        @if (slotSelected !== undefined) {<p>Start alg with slot {{slotSelected}} empty</p>}
        <br>
        <label for="speed-modifier-input">alg speed: </label>
        <input id="speed-modifier-input" type="number" value="100" min="100" max="500" step="100" (input)="updateAlgSpeed($event)">
    </form>
</div>